# Pandas Assignment 1(B)

###Name: Dharnidhar Deshmukh

###Ref. Code: IIPRSS5306

### Step 1. Import the necessary libraries

In [39]:
import pandas as pd

### Step 2. Import the dataset

In [40]:
df = pd.read_csv("Pandas Assign 1(B).csv", sep="|")

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [41]:
users = df
users.set_index('user_id',inplace=True)

### Step 4. See the first 25 entries

In [42]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [43]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [44]:
print(f'Number of obersvations are: {len(users.index)}')
print(f'Shape of the dataframe is: {users.shape}')

Number of obersvations are: 943
Shape of the dataframe is: (943, 4)

### Step 7. What is the number of columns in the dataset?

In [45]:
len(users.columns)

4

### Step 8. Print the name of all the columns.

In [46]:
for (columns,count) in zip(users.columns,range(len(users.columns))):
    print(f'Column {count + 1} is: {columns}')

Column 1 is: age
Column 2 is: gender
Column 3 is: occupation
Column 4 is: zip_code

### Step 9. How is the dataset indexed?

In [47]:
print(users.index)
print("\nIndex range starts from 1, ends at 943 at an interval/step of 1")

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

Index range starts from 1, ends at 943 at an interval/step of 1

### Step 10. What is the data type of each column?

In [48]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [49]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations there are in this dataset?

In [50]:
unique_occupations = users['occupation'].unique()
count = len(users['occupation'].unique())
print(f'There are {count} unique occupations and they are: \n{unique_occupations}')

There are 21 unique occupations and they are:
['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']

### Step 13. What is the most frequent occupation?

In [51]:
freq_occupation = users['occupation'].value_counts().index
occupation_count = users['occupation'].value_counts()
print(f'Most frequent occupation is \'{freq_occupation[0]}\' with {occupation_count[0]} entries')

Most frequent occupation is 'student' with 196 entries

### Step 14. Summarize the DataFrame.

In [52]:
for i in users.columns:
    if users[i].dtype == 'int32' or users[i].dtype == 'int64' or users[i].dtype == 'float32' or users[i].dtype == 'float64':
        print("Summary stats for:", i)
        print(round(users[i].describe(),2))
        print(f'variance   {round(users[i].var(),2)}')
        print(f'skew       {round(users[i].skew(),2)}')
        print(f'kurt      {round(users[i].kurt(),2)}')
        print("\nThe Values of age range from 7 to 73. Since the distribution is moderately positively skewed, there are chances of few outliers and because of that mean value could be inconsistent or misleading.")
        print("\nStd dev is low, because curve is not extremely platykurtic. So the data points are relatively closer to the mean")
        print("\nFrom the quartile values, I can see that distance between Q3 and Max is the largest when compared to other quartile ranges so there might be outliers towards the maximum side")

Summary stats for: age
count    943.00
mean      34.05
std       12.19
min        7.00
25%       25.00
50%       31.00
75%       43.00
max       73.00
Name: age, dtype: float64
variance   148.66
skew       0.61
kurt      -0.31

The Values of age range from 7 to 73. Since the distribution is moderately positively skewed, there are chances of few outliers and because of that mean value could be inconsistent or misleading.

Std dev is low, because curve is not extremely platykurtic. So the data points are relatively closer to the mean

From the quartile values, I can see that distance between Q3 and Max is the largest when compared to other quartile ranges so there might be outliers towards the maximum side

### Step 15. Summarize all the columns

In [53]:
users.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [54]:
print("Age can be summarized by describe function but the remaining columns are categorical or discrete  so describe function is not much useful(Except for count, unique and freq values) for those columns. Below cell will help us summarize the categorical/discrete columns")

Age can be summarized by describe function but the remaining columns are categorical or discrete  so describe function is not much useful(Except for count, unique and freq values) for those columns. Below cell will help us summarize the categorical/discrete columns

In [55]:
print(users['gender'].value_counts())
print("\nOR\n",round(users['gender'].value_counts(normalize=True)*100,2),sep='\n')
print("\n71% or 670 are males and 29% or 273 are females out of 943 users")

M    670
F    273
Name: gender, dtype: int64

OR

M    71.05
F    28.95
Name: gender, dtype: float64

71% or 670 are males and 29% or 273 are females out of 943 users

In [56]:
print(users['zip_code'].value_counts().head(15))
print("\nValue count of zip code can tell us the number of users from the same area/zip code.")
print("\nThere are 795 unique zip codes out of 943 entries in the dataframe. If we want we can find which users are from the same locality using zip code value counts.")

55414    9
55105    6
55337    5
10003    5
20009    5
27514    4
55454    4
55408    4
55113    3
02215    3
22902    3
60201    3
14216    3
55104    3
55409    3
Name: zip_code, dtype: int64

Value count of zip code can tell us the number of users from the same area/zip code.

There are 795 unique zip codes out of 943 entries in the dataframe. If we want we can find which users are from the same locality using zip code value counts.

### Step 16. Summarize only the occupation column

In [57]:
print(users['occupation'].value_counts())
print('\nOR\n')
print(round(users['occupation'].value_counts(normalize=True).head()*100,2))
print("\nAs per step 12 there are 21 unique occupations and approx 21% are students followed by 11% and 10% for others and educators respectively. Remaining 68% is distributed among the other 18 occupations.")

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

OR

student          20.78
other            11.13
educator         10.07
administrator     8.38
engineer          7.10
Name: occupation, dtype: float64

As per step 12 there are 21 unique occupations and approx 21% are students followed by 11% and 10% for others and educators respectively. Remaining 68% is distributed among the other 18 occupations.

### Step 17. What is the mean age of users?

In [58]:
print(f'Average age of all the users is: {round(users["age"].mean(),2)}')

Average age of all the users is: 34.05

### Step 18. What is the age with least occurrence?

In [59]:
least_freq_age = users['age'].value_counts(ascending=True).head().index.tolist()
print(f'The age(s) with the least occurence are: {least_freq_age}')

The age(s) with the least occurence are: [73, 10, 66, 7, 11]