#Name : Dharnidhar Deshmukh
#Refral code : IIPRSS5306
### Pandas Assignment 3 (A)



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset

In [8]:
df = pd.read_excel('/content/Pandas Assignment 2A.xlsx')

### Step 3. Assign it to a variable called baby_names.

In [9]:
baby_names= df

### Step 4. See the first 10 entries

In [10]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [26]:
baby_names.drop(['Id'], axis = 1, inplace = True)
baby_names.drop(['Unnamed: 0'], axis =1, inplace = True)

In [27]:
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [38]:
g= baby_names.groupby('Gender')
print(g['Gender'].count())
print('Female is more than male in dataset')

Gender
F    558846
M    457549
Name: Gender, dtype: int64
Female is more than male in dataset

### Step 7. Group the dataset by name and assign to names

In [40]:
names= baby_names.groupby('Name')

### Step 8. How many different names exist in the dataset?

In [48]:
names['Name'].nunique().count()

17632

### Step 9. What is the name with most occurrences?

In [49]:
c = baby_names.groupby('Name').sum()
c = c.sort_values(['Count'], ascending = False)
c.head(2)

<ipython-input-49-821e7865d709>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = baby_names.groupby('Name').sum()

          Year   Count
Name
Jacob  1141099  242874
Emma   1137085  214852

### Step 10. How many different names have the least occurrences?

In [56]:
c= c.sort_values(['Count'], ascending = True)
c.head(2)
np.count_nonzero(c.Count<6.00)

2578

### Step 11. What is the median name occurrence?

In [64]:
c = baby_names.groupby('Name').sum()
c = c.sort_values(['Count']).median()
print(c)

Year     16061.0
Count       49.0
dtype: float64

<ipython-input-64-e24bca9cb8ad>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = baby_names.groupby('Name').sum()

### Step 12. What is the standard deviation of names?

In [68]:
c = baby_names.groupby('Name').sum()
c = c.sort_values(['Count'], ascending = False)
np.std(c)

<ipython-input-68-eb42dca2e11a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = baby_names.groupby('Name').sum()

Year     245154.864896
Count     11005.757359
dtype: float64

In [71]:
c.Count.std()

11006.069467890571

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [74]:
baby_names.describe(include = 'all')

           Name          Year   Gender    State         Count
count   1016395  1.016395e+06  1016395  1016395  1.016395e+06
unique    17632           NaN        2       51           NaN
top       Riley           NaN        F       CA           NaN
freq       1112           NaN   558846    76781           NaN
mean        NaN  2.009053e+03      NaN      NaN  3.485012e+01
std         NaN  3.138293e+00      NaN      NaN  9.739735e+01
min         NaN  2.004000e+03      NaN      NaN  5.000000e+00
25%         NaN  2.006000e+03      NaN      NaN  7.000000e+00
50%         NaN  2.009000e+03      NaN      NaN  1.100000e+01
75%         NaN  2.012000e+03      NaN      NaN  2.600000e+01
max         NaN  2.014000e+03      NaN      NaN  4.167000e+03